<IfModule authz_core_module>
    Require all granted
    # Require all denied
</IfModule>
<IfModule !authz_core_module>
    Allow from all
    # Deny from all
</IfModule>

<IfModule mod_rewrite.c>
    
    RewriteEngine On
    RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*) /oauthsterix/index.php?/$1 [QSA,L]
	
</IfModule>
