

	<?php $session_info =  $this->session->all_userdata();?>
	<div class="MENU_WRAP_">
	<div class="MENU_ center-inside">
		<ul id="MENU_UL_">
			<li><a href="/oauthsterix" class="MENU_ITEM_">HOME</a></li>
			<?php if(isset($session_info['logged_in']) && $session_info['logged_in']){ ?>
			<li><a href="/oauthsterix/oauth/personalinfo/" class="MENU_ITEM_">PERSONAL INFO</a></li>
			<li><a href="/oauthsterix/oauth/logout" class="MENU_ITEM_">LOGOUT</a></li>
			<?php } else { ?>
			<li><a href="/oauthsterix/oauth/login" class="MENU_ITEM_">LOGIN</a></li>
			<li><a href="/oauthsterix/oauth/registration" class="MENU_ITEM_">REGISTER</a></li>
			<?php } ?>
		</ul>
	</div>
	</div>
	<div class="SITE_WRAP_">